assume_role = "administrator"
region = "{{state_file_region}}"
vpc_region = "{{provider_region}}"
emr_cluster_broker_client_zip = {
  base_path = "../../../../emr-cluster-broker-client-release"
  version   = "0.0.1"
}
